<TerrainEditor.TerrainPanel Ver="0">
	<BrushFiles Type="mscorlib.dll@System.Collections.Generic.List`1[[mscorlib.dll@System.String]]">
		<Data Type="mscorlib.dll@System.String" Value="TerrainEditorConfig/Brushes/4693b6a3-76a2-4eff-b86d-c0f4ac0aa256.jpg"/>
		<Data Type="mscorlib.dll@System.String" Value="TerrainEditorConfig/Brushes/0c713ba8-ddac-4f2f-85e7-02a0cddec270.jpg"/>
		<Data Type="mscorlib.dll@System.String" Value="TerrainEditorConfig/Brushes/0a8cb798-531d-4001-96fc-3cabbbb69cf7.jpg"/>
		<Data Type="mscorlib.dll@System.String" Value="TerrainEditorConfig/Brushes/26812a79-d1cd-4157-b91b-2697842f66bc.jpg"/>
		<Data Type="mscorlib.dll@System.String" Value="TerrainEditorConfig/Brushes/a63b5d12-3e5b-4607-8dc8-200044edada5.jpg"/>
	</BrushFiles>
</TerrainEditor.TerrainPanel>

